body {
  width: 70%;
  margin: auto;
}

.heading {
  text-align: center;
}

.card-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: column;
  /* border: 1px solid black; */
  grid-gap: 20px;
  text-decoration: none;
}

.card-div div {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 100px;
  padding: 10px;
}

.card-div div li {
  list-style: none;
  text-decoration: none;
}

.route-link {
  text-decoration: none;
  color: black;
}

.card-div div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
